<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/mystyls.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <title>Accesorios</title>
</head>
<body>
    <div class="barra">
        <img src="../imagenes/corona blanca.avif">
        <p class="pirata-one-regular titulo"><a href="../../index.html">ALT F4</a></p>
        <img src="../imagenes/corona blanca.avif">
    </div>
    <div class="reloj">
    <span id="datetime"></span>
    </div>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html">ALT F4</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mujer
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../views/mujeres.html">Mujeres</a></li>
                                <li><a class="dropdown-item" href="../views/playerasm.html">Playeras</a></li>
                                <li><a class="dropdown-item" href="../views/pantalonesm.html">Pantalones</a></li>
                                <li><a class="dropdown-item" href="../views/sudaderasm.html">Sudaderas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hombre
                            </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="../views/hombres.html">Hombres</a></li>
                                    <li><a class="dropdown-item" href="../views/playerash.html">Playeras</a></li>
                                    <li><a class="dropdown-item" href="../views/pantalonesh.html">Pantalones</a></li>
                                    <li><a class="dropdown-item" href="../views/sudaderas.html">Sudaderas</a></li>
                                </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Accesorios
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../views/accesorios.html">Accesorios</a></li>
                                <li><a class="dropdown-item" href="../views/lentes.html">Lentes</a></li>
                                <li><a class="dropdown-item" href="../views/gorras.html">Gorras</a></li>
                                <li><a class="dropdown-item" href="../views/pulseras.html">Pulseras</a></li>
                                <li><a class="dropdown-item" href="../views/relojes.html">Relojes</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center ms-auto">
                        <a href="https://maps.app.goo.gl/ebSHo2mcpoC4YeXq6">
                            <img class="imgnav1" src="../imagenes/ubi.png">
                        </a>
                        <a href="../views/iniciodesecion.html">
                            <img class="imgnav2" src="../imagenes/cuen.png">
                        </a>
                        <a href="#">
                            <img class="imgnav3" src="../imagenes/bolsa.png">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <button class="btn btn-secondary botonarriba"><a href="../views/hombres.html">&#9650;</a></button>
    <div id="carouselExampleCaptions" class="carousel slide textcar" data-bs-ride="carousel" data-bs-interval="6000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item ch active">
                <a href="../views/lentes.html">
                    <img src="../imagenes/carousellentes.jpg" class="d-block w-100" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>LLENTES</h5>
                    <p>Protección y diseño de alto impacto para quienes marcan su propio camino.</p>
                </div>
            </div>
            <div class="carousel-item ch">
                <img src="../imagenes/carouselgorras.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>GORRAS</h5>
                <p>Diseños con personalidad propia, ideales para dominar las calles.</p>
            </div>
            </div>
            <div class="carousel-item ch">
                <img src="../imagenes/carouselpulseras.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>PULSERAS</h5>
                <p>Accesorios que hablan por ti. Añade ese toque final que define tu estilo.</p>
            </div>
            </div>
            <div class="carousel-item ch">
                <img src="../imagenes/carouselreloj.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>RELOJES</h5>
                <p>Dale un aire retro a tu muñeca con diseños que nunca pasan de moda.</p>
            </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container-fluid text-center pt-5">
        <div class="row">
            <div class="col">
                <img class="imghombres" src="../imagenes/imgaccprin.jpg" alt="">
            </div>
            <div class="col-auto">
                <h2 class="hofertas centro pt-5">Accesorios</h2>
            </div>
            <div class="col">
                <img class="imghombres" src="../imagenes/imgaccprin.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card text-bg-dark d-block overflow-hidden">
                    <a class="ah d-flex justify-content-center align-items-center position-relative" href="../views/lentes.html">
                        <img src="../imagenes/cardlentes.jpg" class="card-img imgph d-flex imgcardh" alt="...">
                        <div class="card-img-overlay d-flex flex-column justify-content-end p-0">
                            <h5 class="card-title m-0 fw-bold justify-content-end textcardh">Lentes</h5>
                            <p class="card-text fw-bold justify-content-end textcardp px-3 pb-3">Protege tu visión con un diseño de impacto que desafía lo convencional. La pieza fundamental para un look con personalidad.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-bg-dark d-block overflow-hidden">
                    <a class="ah d-flex justify-content-center align-items-center position-relative" href="../views/gorras.html">
                        <img src="../imagenes/cardgorras.jpg" class="card-img imgph d-flex imgcardh" alt="...">
                        <div class="card-img-overlay d-flex flex-column justify-content-end p-0">
                            <h5 class="card-title m-0 fw-bold justify-content-end textcardh">Gorras</h5>
                            <p class="card-text fw-bold justify-content-end textcardp px-3 pb-3">El equilibrio perfecto entre lo urbano y lo funcional. Ajusta tu estilo y domina el entorno con nuestras piezas exclusivas.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-6">
                <div class="card text-bg-dark d-block overflow-hidden">
                    <a class="ah d-flex justify-content-center align-items-center position-relative" href="../views/pulseras.html">
                        <img src="../imagenes/cardpulseras.jpg" class="card-img imgph d-flex imgcardh" alt="...">
                        <div class="card-img-overlay d-flex flex-column justify-content-end p-0">
                            <h5 class="card-title m-0 fw-bold justify-content-end textcardh">Pulseras</h5>
                            <p class="card-text fw-bold justify-content-end textcardp px-3 pb-3">Detalles que definen tu carácter. Accesorios minimalistas con una carga estética que complementa cualquier outfit.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-bg-dark d-block overflow-hidden">
                    <a class="ah d-flex justify-content-center align-items-center position-relative" href="../views/relojes.html">
                        <img src="../imagenes/cardreloj.jpg" class="card-img imgph d-flex imgcardh" alt="...">
                        <div class="card-img-overlay d-flex flex-column justify-content-end p-0">
                            <h5 class="card-title m-0 fw-bold justify-content-end textcardh">Relojes</h5>
                            <p class="card-text fw-bold justify-content-end textcardp px-3 pb-3">Precisión técnica con esencia retro. Controla tu tiempo con accesorios diseñados para perdurar y destacar.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer class="cierreforms">
        <div class="row">
                <div class="col ps-5">
                        <img class="logo" src="../imagenes/logoblanco.png" alt="">
                    </div>
                    <div class="col centro pt-5">
                        <p>ALT F4 // EST. 2026</p>
                        <p>COPYRIGHT © 2026 - ALL RIGHTS RESERVED</p>
                    </div>
                </div>
            </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../java/funcionesJava.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            const tooltipList = [...tooltipTriggerList].map(el => new bootstrap.Tooltip(el));
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
            const popoverList = [...popoverTriggerList].map(el => new bootstrap.Popover(el));
        });
    </script>
</body>
</html>