<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/mystyls.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <title>Iniciar Secion</title>
</head>
<body class="fondototal">
    <div class="barra">
        <img src="../imagenes/corona blanca.avif">
        <p class=" pirata-one-regular titulo"><a href="../../index.html"> ALT F4 </a></p>
        <img src="../imagenes/corona blanca.avif">
    </div>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html">ALT F4</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mujer
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../views/mujeres.html">Mujeres</a></li>
                                <li><a class="dropdown-item" href="../views/playerasm.html">Playeras</a></li>
                                <li><a class="dropdown-item" href="../views/pantalonesm.html">Pantalones</a></li>
                                <li><a class="dropdown-item" href="../views/sudaderasm.html">Sudaderas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hombre
                            </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="../views/hombres.html">Hombres</a></li>
                                    <li><a class="dropdown-item" href="../views/playerash.html">Playeras</a></li>
                                    <li><a class="dropdown-item" href="../views/pantalonesh.html">Pantalones</a></li>
                                    <li><a class="dropdown-item" href="../views/sudaderas.html">Sudaderas</a></li>
                                </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Accesorios
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../views/accesorios.html">Accesorios</a></li>
                                <li><a class="dropdown-item" href="../views/lentes.html">Lentes</a></li>
                                <li><a class="dropdown-item" href="../views/gorras.html">Gorras</a></li>
                                <li><a class="dropdown-item" href="../views/pulseras.html">Pulseras</a></li>
                                <li><a class="dropdown-item" href="../views/relojes.html">Relojes</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center ms-auto">
                        <a href="https://maps.app.goo.gl/ebSHo2mcpoC4YeXq6">
                            <img class="imgnav1" src="../imagenes/ubi.png">
                        </a>
                        <a href="../views/iniciodesecion.html">
                            <img class="imgnav2" src="../imagenes/cuen.png">
                        </a>
                        <a href="#">
                            <img class="imgnav3" src="../imagenes/bolsa.png">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="formsfondo letra">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">No corpantiremos tu direccion de correo electronico con nadie.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
            </div>
            <button type="submit" class="btn btn-primary"><a class="aboton" href="../../index.html"> Listo </a></button>
        </form>
        <div class="crearceunta">
                <p class="letra">¿No tienes cuenta?</p>
                <p class="letra">Crea una ahora</p>
                <a href="../views/registro.html">Crear cuenta</a>
            </div>
    </div>
    <footer class="cierreforms">
        <div class="row">
                <div class="col ps-5">
                        <img class="logo" src="../imagenes/logoblanco.png" alt="">
                    </div>
                    <div class="col centro pt-5">
                        <p>ALT F4 // EST. 2026</p>
                        <p>COPYRIGHT © 2026 - ALL RIGHTS RESERVED</p>
                    </div>
                </div>
            </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../java/funcionesJava.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            const tooltipList = [...tooltipTriggerList].map(el => new bootstrap.Tooltip(el));
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
            const popoverList = [...popoverTriggerList].map(el => new bootstrap.Popover(el));
        });
        </script>
</body>
</html>