<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/mystyls.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <title>Lentes</title>
</head>
<body>
    <div class="barra">
        <img src="../imagenes/corona blanca.avif">
        <p class="pirata-one-regular titulo"><a href="../../index.html">ALT F4</a></p>
        <img src="../imagenes/corona blanca.avif">
    </div>
    <div class="reloj">
    <span id="datetime"></span>
    </div>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html">ALT F4</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mujer
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../views/mujeres.html">Mujeres</a></li>
                                <li><a class="dropdown-item" href="../views/playerasm.html">Playeras</a></li>
                                <li><a class="dropdown-item" href="../views/pantalonesm.html">Pantalones</a></li>
                                <li><a class="dropdown-item" href="../views/sudaderasm.html">Sudaderas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hombre
                            </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="../views/hombres.html">Hombres</a></li>
                                    <li><a class="dropdown-item" href="../views/playerash.html">Playeras</a></li>
                                    <li><a class="dropdown-item" href="../views/pantalonesh.html">Pantalones</a></li>
                                    <li><a class="dropdown-item" href="../views/sudaderas.html">Sudaderas</a></li>
                                </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Accesorios
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../views/accesorios.html">Accesorios</a></li>
                                <li><a class="dropdown-item" href="../views/lentes.html">Lentes</a></li>
                                <li><a class="dropdown-item" href="../views/gorras.html">Gorras</a></li>
                                <li><a class="dropdown-item" href="../views/pulseras.html">Pulseras</a></li>
                                <li><a class="dropdown-item" href="../views/relojes.html">Relojes</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center ms-auto">
                        <a href="https://maps.app.goo.gl/ebSHo2mcpoC4YeXq6">
                            <img class="imgnav1" src="../imagenes/ubi.png">
                        </a>
                        <a href="../views/iniciodesecion.html">
                            <img class="imgnav2" src="../imagenes/cuen.png">
                        </a>
                        <a href="#">
                            <img class="imgnav3" src="../imagenes/bolsa.png">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <button class="btn btn-secondary botonarriba"><a href="../views/hombres.html">&#9650;</a></button>
    <div class="card text-bg-dark">
        <img src="../imagenes/cardprinlentes.jpg" class="card-img imghomin">
        <div class="card-img-overlay d-flex flex-column justify-content-end mb-5 ms-5 cardinhom">
            <div class="text-bg-dark ps-3">
                <h3 class="card-title">Renueva tu look con las mejores prendas.</h3>
                <p class="card-text">Prendas par hombre al mejor ptecio y calidad.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col">
                <img class="imgplayerasm" src="../imagenes/imgprinlentes.jpg" alt="">
            </div>
            <div class="col-auto">
                <h2 class="hofertas centro pt-5">LENTES</h2>
            </div>
            <div class="col">
                <img class="imgplayerasm voltear" src="../imagenes/imgprinlentes.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid">
            <div class="row">
                <div class="col-4 anchoropa1">
                    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link text-dark bg-light border-bottom" href="#item-1a">Accesorios</a>
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link text-dark ms-3 my-1" href="#item-1-1a">Lentes</a>
                            </nav>
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link text-dark ms-3 my-1" href="#item-2a">Gorras</a>
                            </nav>
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link text-dark ms-3 my-1" href="#item-3a">Pulseras</a>
                            </nav>
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link text-dark ms-3 my-1" href="#item-3a">Relojes</a>
                            </nav>
                        </nav>
                    </nav>
                </div>
                <div class="col-8 anchoropa2">
                    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                        <div id="item-1-1a" class="d-flex flex-wrap gap-0">
                            <h3 class="w-100 text-start ps-2 mb-4">Lentes</h3>
                            <div class="row mb-5 w-100">
                                <div class="card-group">
                                    <div class="card">
                                        <img src="../imagenes/lentes1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Gafas Star Mirror</h5>
                                            <p class="card-text small">
                                                Gafas envolventes con acabado de espejo y detalle de estrella lateral. 
                                                Estética Y2K pura para un look futurista.
                                            </p>
                                            <p class="fw-bold text-center text-success">$250.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:GLS-STR-MIR01</li>
                                                                            <li>Protección UV400</li>
                                                                            <li>Armazón de policarbonato</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 text-center fw-bold small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/lentes2.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Gafas Oval Minimal</h5>
                                            <p class="card-text small">
                                                Gafas de sol con armazón ovalado clásico en color negro. 
                                                Un diseño sobrio y elegante.
                                            </p>
                                            <p class="fw-bold text-center text-success">$220.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:GLS-OVA-MIN02</li>
                                                                            <li>Protección UV400</li>
                                                                            <li>Armazón de acetato</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 text-center fw-bold small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/lentes3.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Gafas Sport Tech</h5>
                                            <p class="card-text small">
                                                Gafas de sol estilo deportivo envolvente con lentes oscuros.
                                                Diseño aerodinámico inspirado en la estética industrial-grunge.
                                            </p>
                                            <p class="fw-bold text-center text-success">$280.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:GLS-SPT-TCH03</li>
                                                                            <li>Protección UV400</li>
                                                                            <li>Armazón de plástico reforzado</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 text-center fw-bold small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/lentes4.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Gafas Amber Gradient</h5>
                                            <p class="card-text small">
                                                Gafas con lente degradado en tonos ámbar y armazón plateado. 
                                                Un estilo vintage.
                                            </p>
                                            <p class="fw-bold text-center text-success">$240.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:GLS-AMB-GRA04</li>
                                                                            <li>Protección UV400</li>
                                                                            <li>Armazón metálico ligero</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 text-center fw-bold small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5 w-100">
                                <div class="card-group">
                                    <div class="card">
                                        <img src="../imagenes/lentes5.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Gafas Amber Gradient</h5>
                                            <p class="card-text small">
                                                Gafas con lente degradado en tonos ámbar y armazón plateado. 
                                                Un estilo vintage.
                                            </p>
                                            <p class="fw-bold text-center text-success">$240.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:GLS-AMB-GRA04</li>
                                                                            <li>Protección UV400</li>
                                                                            <li>Armazón metálico ligero</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 text-center fw-bold small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/lentes6.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Gafas Cream Y2K</h5>
                                            <p class="card-text small">
                                                Gafas con armazón color crema y lentes en tono amarillo suave.
                                                Estética retro-futurista.
                                            </p>
                                            <p class="fw-bold text-center text-success">$230.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:GLS-CRE-Y2K06</li>
                                                                            <li>Protección UV400</li>
                                                                            <li>Armazón de policarbonato</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 text-center fw-bold small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/lentes7.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Gafas Star Tech</h5>
                                            <p class="card-text small">
                                                Gafas envolventes en tono oscuro con detalles de estrellas metálicas en los laterales.
                                            </p>
                                            <p class="fw-bold text-center text-success">$260.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:GLS-STR-TCH07</li>
                                                                            <li>Protección UV400</li>
                                                                            <li>Armazón de policarbonato reforzado</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 text-center fw-bold small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/lentes8.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Gafas Kitty Grunge</h5>
                                            <p class="card-text small">
                                                Gafas con armazón carey y detalle lateral de gatito tipo coquette-grunge.
                                                Un accesorio único.
                                            </p>
                                            <p class="fw-bold text-center text-success">$210.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:GLS-KIT-GRN08</li>
                                                                            <li>Protección UV400</li>
                                                                            <li>Armazón de acetato ligero</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 text-center fw-bold small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <footer class="cierre">
        <div class="row">
                <div class="col ps-5">
                        <img class="logo" src="../imagenes/logoblanco.png" alt="">
                    </div>
                    <div class="col centro pt-5">
                        <p>ALT F4 // EST. 2026</p>
                        <p>COPYRIGHT © 2026 - ALL RIGHTS RESERVED</p>
                    </div>
                </div>
            </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../java/funcionesJava.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            const tooltipList = [...tooltipTriggerList].map(el => new bootstrap.Tooltip(el));
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
            const popoverList = [...popoverTriggerList].map(el => new bootstrap.Popover(el));
        });
    </script>
</body>
</html>