<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/mystyls.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <title>Pantalones Mujer - ALT F4</title>
</head>
<body>
    <div class="barra">
        <img src="../imagenes/corona blanca.avif" alt="Corona">
        <p class="pirata-one-regular titulo"><a href="../../index.html">ALT F4</a></p>
        <img src="../imagenes/corona blanca.avif" alt="Corona">
    </div>
    <div class="reloj">
        <span id="datetime"></span>
    </div>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html">ALT F4</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mujer
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../views/mujeres.html">Mujeres</a></li>
                                <li><a class="dropdown-item" href="../views/playerasm.html">Playeras</a></li>
                                <li><a class="dropdown-item" href="../views/pantalonesm.html">Pantalones</a></li>
                                <li><a class="dropdown-item" href="../views/sudaderasm.html">Sudaderas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hombre
                            </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="../views/hombres.html">Hombres</a></li>
                                    <li><a class="dropdown-item" href="../views/playerash.html">Playeras</a></li>
                                    <li><a class="dropdown-item" href="../views/pantalonesh.html">Pantalones</a></li>
                                    <li><a class="dropdown-item" href="../views/sudaderas.html">Sudaderas</a></li>
                                </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Accesorios
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../views/accesorios.html">Accesorios</a></li>
                                <li><a class="dropdown-item" href="../views/lentes.html">Lentes</a></li>
                                <li><a class="dropdown-item" href="../views/gorras.html">Gorras</a></li>
                                <li><a class="dropdown-item" href="../views/pulseras.html">Pulseras</a></li>
                                <li><a class="dropdown-item" href="../views/relojes.html">Relojes</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center ms-auto">
                        <a href="https://maps.app.goo.gl/ebSHo2mcpoC4YeXq6">
                            <img class="imgnav1" src="../imagenes/ubi.png">
                        </a>
                        <a href="../views/iniciodesecion.html">
                            <img class="imgnav2" src="../imagenes/cuen.png">
                        </a>
                        <a href="#">
                            <img class="imgnav3" src="../imagenes/bolsa.png">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <a href="../views/hombres.html"><button class="btn btn-secondary botonarriba">&#9650;</button></a>
    <div class="card text-bg-dark d-flex justify-content-center align-items-center rounded-0 border-0">
        <img src="../imagenes/cardpantosm.jpg" class="card-img imghomin" alt="Banner Pantalones Mujer">
        <div class="card-img-overlay d-flex flex-column justify-content-end mb-5 ms-5 cardinhom">
            <div class="text-bg-dark ps-3 py-2 pe-3 bg-opacity-75">
                <h3 class="card-title">Renueva tu look con las mejores prendas.</h3>
                <p class="card-text">Prendas para mujer al mejor precio y calidad.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center my-4">
        <div class="row align-items-center">
            <div class="col">
                <img class="imgplayerasm img-fluid" src="../imagenes/pantalonesprimm.jpg" alt="Decoración Izquierda">
            </div>
            <div class="col-auto">
                <h2 class="hofertas centro pirata-one-regular">PANTALONES</h2>
            </div>
            <div class="col">
                <img class="imgplayerasm img-fluid" src="../imagenes/pantalonesprimm.jpg" alt="Decoración Derecha">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 anchoropa1 mb-4">
                <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end sticky-top pt-3">
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link text-dark bg-light border-bottom fw-bold" href="#item-1m">Mujeres</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link text-dark ms-3 my-1" href="#item-1-1m">Playeras</a>
                            <a class="nav-link text-dark ms-3 my-1" href="#item-1-2m">Playeras con Manga</a>
                        </nav>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link text-dark ms-3 my-1 active" href="#item-2m">Pantalones</a>
                            <a class="nav-link text-dark ms-5 my-1" href="#item-2-1m">Pantalones de Mezclilla</a>
                            <a class="nav-link text-dark ms-5 my-1" href="#item-2-2m">Pantalones Cortos</a>
                            <a class="nav-link text-dark ms-5 my-1" href="#item-2-3m">Pants</a>
                        </nav>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link text-dark ms-3 my-1" href="#item-3-1m">Tenis</a>
                        </nav>
                    </nav>
                </nav>
            </div>
            <div class="col-md-9 anchoropa2">
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                    <div id="item-2-1m" class="pt-3">
                        <h3 class="mb-4 text-uppercase border-bottom pb-2">Pantalones de Mezclilla</h3>
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-5">
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm1.jpg" class="card-img-top" alt="Retro Wide Blue">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Retro Wide Blue</h5>
                                        <p class="card-text small text-muted">Jeans holgados de corte ancho en mezclilla azul medio con un sutil deslavado frontal de estilo vintage.</p>
                                        <h5 class="text-dark mt-auto mb-3">$799.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-RWB-49X</li><li>Comp: 95% Algodón, 5% Elastano</li><li>Cuidado: Lavar del revés a máquina</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm1" id="t26-1" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-1">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm1" id="t28-1">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-1">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm1" id="t30-1">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-1">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm1" id="t32-1">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-1">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm2.jpg" class="card-img-top" alt="Acid Tint Baggy">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Acid Tint Baggy</h5>
                                        <p class="card-text small text-muted">Jeans texturizados de corte ancho con un lavado ácido envejecido en tonos azul grisáceo.</p>
                                        <h5 class="text-dark mt-auto mb-3">$849.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-ATB-12M</li><li>98% Algodón, 2% Elastano</li><li>No usar blanqueador</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm2" id="t26-2" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-2">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm2" id="t28-2">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-2">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm2" id="t30-2">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-2">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm2" id="t32-2">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-2">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm3.jpg" class="card-img-top" alt="Classic Over Sand">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Classic Over Sand</h5>
                                        <p class="card-text small text-muted">Jeans de silueta oversize en mezclilla azul clásico con un marcado degradado arenoso en los muslos.</p>
                                        <h5 class="text-dark mt-auto mb-3">$799.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-COS-88P</li><li>100% Algodón</li><li>Secar colgado a la sombra</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm3" id="t26-3" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-3">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm3" id="t28-3">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-3">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm3" id="t30-3">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-3">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm3" id="t32-3">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-3">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm4.jpg" class="card-img-top" alt="Dark Star Distressed">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Dark Star Distressed</h5>
                                        <p class="card-text small text-muted">Jeans gris oscuro de corte holgado con parches negros en forma de estrella y zonas fuertemente rasgadas.</p>
                                        <h5 class="text-dark mt-auto mb-3">$899.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-DSD-33L</li><li>100% Algodón</li><li>Lavar a mano</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm4" id="t26-4" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-4">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm4" id="t28-4">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-4">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm4" id="t30-4">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-4">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm4" id="t32-4">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-4">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-5">
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm5.jpg" class="card-img-top" alt="Gothic Star Fray">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Gothic Star Fray</h5>
                                        <p class="card-text small text-muted">Jeans gris oscuro desgastados con siluetas de estrellas deshilachadas y parches interiores.</p>
                                        <h5 class="text-dark mt-auto mb-3">$899.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-GSF-71V</li><li>99% Algodón, 1% Spandex</li><li>Usar ciclo delicado</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm5" id="t26-5" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-5">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm5" id="t28-5">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-5">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm5" id="t30-5">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-5">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm5" id="t32-5">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-5">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm6.jpg" class="card-img-top" alt="Midnight Matte Wide">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Midnight Matte Wide</h5>
                                        <p class="card-text small text-muted">Jeans de corte ancho y tiro alto en un color negro mate puro, con una caída fluida.</p>
                                        <h5 class="text-dark mt-auto mb-3">$749.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-MMW-25K</li><li>100% Algodón</li><li>Lavar con agua fría</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm6" id="t26-6" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-6">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm6" id="t28-6">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-6">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm6" id="t30-6">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-6">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm6" id="t32-6">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-6">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm7.jpg" class="card-img-top" alt="Skeleton Hands Indigo">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Skeleton Hands Indigo</h5>
                                        <p class="card-text small text-muted">Jeans oversize azul índigo que destacan por el estampado de manos de esqueleto en bolsillos traseros.</p>
                                        <h5 class="text-dark mt-auto mb-3">$849.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-SHI-94B</li><li>100% Algodón</li><li>No planchar estampado</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm7" id="t26-7" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-7">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm7" id="t28-7">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-7">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm7" id="t30-7">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-7">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm7" id="t32-7">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-7">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm8.jpg" class="card-img-top" alt="Shadow Whiskers">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Shadow Whiskers</h5>
                                        <p class="card-text small text-muted">Jeans gris carbón de silueta ancha con un patrón de arrugas pronunciadas en la cadera.</p>
                                        <h5 class="text-dark mt-auto mb-3">$799.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-SWH-60Q</li><li>98% Algodón, 2% Poliéster</li><li>Secar al aire</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm8" id="t26-8" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-8">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm8" id="t28-8">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-8">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm8" id="t30-8">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-8">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm8" id="t32-8">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-8">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-5">
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm9.jpg" class="card-img-top" alt="Stitch Black Cargo">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Stitch Black Cargo</h5>
                                        <p class="card-text small text-muted">Jeans de corte cargo holgado negro mate con costuras reforzadas a contraste.</p>
                                        <h5 class="text-dark mt-auto mb-3">$899.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-SBC-15A</li><li>100% Algodón</li><li>Lavar con detergente suave</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm9" id="t26-9" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-9">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm9" id="t28-9">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-9">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm9" id="t30-9">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-9">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm9" id="t32-9">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-9">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm10.jpg" class="card-img-top" alt="Coquette Sparkle Bow">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Coquette Sparkle Bow</h5>
                                        <p class="card-text small text-muted">Pantalón negro de mezclilla suave decorado con motivos de moños brillantes plateados.</p>
                                        <h5 class="text-dark mt-auto mb-3">$949.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-CSB-82Z</li><li>95% Algodón, 5% Poliéster</li><li>Lavar al revés</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm10" id="t26-10" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-10">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm10" id="t28-10">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-10">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm10" id="t30-10">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-10">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm10" id="t32-10">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-10">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm11.jpg" class="card-img-top" alt="Asylum Fray Edge">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Asylum Fray Edge</h5>
                                        <p class="card-text small text-muted">Jeans gris oscuro desgastados con paneles superpuestos y costuras externas deshilachadas.</p>
                                        <h5 class="text-dark mt-auto mb-3">$899.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-AFE-37W</li><li>Comp: 100% Algodón</li><li>Recortar hilos sobrantes</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm11" id="t26-11" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-11">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm11" id="t28-11">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-11">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm11" id="t30-11">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-11">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm11" id="t32-11">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-11">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm12.jpg" class="card-img-top" alt="Utility Cargo Blue">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Utility Cargo Blue</h5>
                                        <p class="card-text small text-muted">Pantalón cargo clásico en mezclilla azul claro con múltiples bolsillos utilitarios laterales.</p>
                                        <h5 class="text-dark mt-auto mb-3">$849.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-UCB-53N</li><li>100% Algodón</li><li>Lavar con colores similares</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm12" id="t26-12" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-12">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm12" id="t28-12">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-12">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm12" id="t30-12">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-12">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm12" id="t32-12">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-12">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-5">
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm13.jpg" class="card-img-top" alt="Skyline Multi-Pocket">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Skyline Multi-Pocket</h5>
                                        <p class="card-text small text-muted">Pantalón cargo oversize azul claro con costuras reforzadas y distribución simétrica.</p>
                                        <h5 class="text-dark mt-auto mb-3">$899.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-SMP-29R</li><li>100% Algodón</li><li>Planchar a temp. media</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm13" id="t26-13" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-13">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm13" id="t28-13">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-13">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm13" id="t30-13">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-13">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm13" id="t32-13">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-13">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm14.jpg" class="card-img-top" alt="Stealth Multi-Cargo">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Stealth Multi-Cargo</h5>
                                        <p class="card-text small text-muted">Pantalón cargo negro mate con bolsillos tácticos superpuestos y silueta urbana.</p>
                                        <h5 class="text-dark mt-auto mb-3">$849.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-SMC-41G</li><li>100% Algodón</li><li>No usar secadora</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm14" id="t26-14" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-14">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm14" id="t28-14">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-14">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm14" id="t30-14">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-14">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm14" id="t32-14">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-14">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm15.jpg" class="card-img-top" alt="Strapped Acid Cargo">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Strapped Acid Cargo</h5>
                                        <p class="card-text small text-muted">Pantalón cargo de tiro alto y corte cuadrado en tono gris lavado a piedra.</p>
                                        <h5 class="text-dark mt-auto mb-3">$899.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-SAC-76Y</li><li>98% Algodón, 2% Elastano</li><li>Asegurar cintas antes de lavar</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm15" id="t26-15" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-15">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm15" id="t28-15">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-15">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm15" id="t30-15">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-15">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm15" id="t32-15">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-15">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm text-center">
                                    <img src="../imagenes/panm16.jpg" class="card-img-top" alt="Fracture Star Cargo">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold">Fracture Star Cargo</h5>
                                        <p class="card-text small text-muted">Jeans cargo color gris grafito con un patrón de estrella gigante deshilachada.</p>
                                        <h5 class="text-dark mt-auto mb-3">$949.00 MXN</h5>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3 mx-auto" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true" data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul style='padding-left:15px; margin-bottom:0;'><li>SKU: CRU-FSC-08H</li><li>100% Algodón</li><li>Secar al aire</li></ul>">
                                            Detalles
                                        </button>
                                        <p class="small mb-1 fw-bold">Selecciona talla:</p>
                                        <div class="btn-group mb-3 w-100" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm16" id="t26-16" checked>
                                            <label class="btn btn-sm btn-outline-dark" for="t26-16">26</label>
                                            <input type="radio" class="btn-check" name="tallas-pm16" id="t28-16">
                                            <label class="btn btn-sm btn-outline-dark" for="t28-16">28</label>
                                            <input type="radio" class="btn-check" name="tallas-pm16" id="t30-16">
                                            <label class="btn btn-sm btn-outline-dark" for="t30-16">30</label>
                                            <input type="radio" class="btn-check" name="tallas-pm16" id="t32-16">
                                            <label class="btn btn-sm btn-outline-dark" for="t32-16">32</label>
                                        </div>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-success">+</button>
                                            <button type="button" class="btn btn-sm btn-outline-dark disabled">1</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-toolbar mt-3 mb-5 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
            <a href="../views/pantalonesm.html" class="btn btn-outline-secondary active">1</a>
            <a href="../views/pantalonesm2.html" class="btn btn-outline-secondary">2</a>
            <a href="../views/pantalonesh3.html" class="btn btn-outline-secondary">3</a>
        </div>
    </div>

    <footer class="cierre bg-dark text-white py-4">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-start ps-lg-5">
                    <img class="logo" src="../imagenes/logoblanco.png" alt="ALT F4 Logo" style="max-height: 50px;">
                </div>
                <div class="col-md-6 text-center text-md-end pe-lg-5 pt-3 pt-md-0">
                    <p class="mb-1">ALT F4 // EST. 2026</p>
                    <p class="mb-0 small text-muted">COPYRIGHT © 2026 - ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../java/funcionesJava.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            const tooltipList = [...tooltipTriggerList].map(el => new bootstrap.Tooltip(el));
        });
    </script>
</body>
</html>