<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/mystyls.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <title>Pulseras</title>
</head>
<body>
    <div class="barra">
        <img src="../imagenes/corona blanca.avif">
        <p class="pirata-one-regular titulo"><a href="../../index.html">ALT F4</a></p>
        <img src="../imagenes/corona blanca.avif">
    </div>
    <div class="reloj">
    <span id="datetime"></span>
    </div>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html">ALT F4</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mujer
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../views/mujeres.html">Mujeres</a></li>
                                <li><a class="dropdown-item" href="../views/playerasm.html">Playeras</a></li>
                                <li><a class="dropdown-item" href="../views/pantalonesm.html">Pantalones</a></li>
                                <li><a class="dropdown-item" href="../views/sudaderasm.html">Sudaderas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hombre
                            </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="../views/hombres.html">Hombres</a></li>
                                    <li><a class="dropdown-item" href="../views/playerash.html">Playeras</a></li>
                                    <li><a class="dropdown-item" href="../views/pantalonesh.html">Pantalones</a></li>
                                    <li><a class="dropdown-item" href="../views/sudaderas.html">Sudaderas</a></li>
                                </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Accesorios
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../views/accesorios.html">Accesorios</a></li>
                                <li><a class="dropdown-item" href="../views/lentes.html">Lentes</a></li>
                                <li><a class="dropdown-item" href="../views/gorras.html">Gorras</a></li>
                                <li><a class="dropdown-item" href="../views/pulseras.html">Pulseras</a></li>
                                <li><a class="dropdown-item" href="../views/relojes.html">Relojes</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center ms-auto">
                        <a href="https://maps.app.goo.gl/ebSHo2mcpoC4YeXq6">
                            <img class="imgnav1" src="../imagenes/ubi.png">
                        </a>
                        <a href="../views/iniciodesecion.html">
                            <img class="imgnav2" src="../imagenes/cuen.png">
                        </a>
                        <a href="#">
                            <img class="imgnav3" src="../imagenes/bolsa.png">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <button class="btn btn-secondary botonarriba"><a href="../views/hombres.html">&#9650;</a></button>
    <div class="card text-bg-dark">
        <img src="../imagenes/cardprinpulseras.jpg" class="card-img imghomin">
        <div class="card-img-overlay d-flex flex-column justify-content-end mb-5 ms-5 cardinhom">
            <div class="text-bg-dark ps-3">
                <h3 class="card-title">Renueva tu look con las mejores prendas.</h3>
                <p class="card-text">Prendas par hombre al mejor ptecio y calidad.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col">
                <img class="imgplayerasm" src="../imagenes/imgprinpulseras.webp" alt="">
            </div>
            <div class="col-auto">
                <h2 class="hofertas centro pt-5">Pulseras y Anillos</h2>
            </div>
            <div class="col">
                <img class="imgplayerasm" src="../imagenes/imgprinpulseras.webp" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid">
            <div class="row">
                <div class="col-4 anchoropa1">
                    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link text-dark bg-light border-bottom" href="#item-1a">Accesorios</a>
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link text-dark ms-3 my-1" href="#item-1-1a">Lentes</a>
                            </nav>
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link text-dark ms-3 my-1" href="#item-2a">Gorras</a>
                            </nav>
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link text-dark ms-3 my-1" href="#item-3a">Pulseras</a>
                            </nav>
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link text-dark ms-3 my-1" href="#item-4a">Relojes</a>
                            </nav>
                        </nav>
                    </nav>
                </div>
                <div class="col-8 anchoropa2">
                    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                        <div id="item-3a" class="d-flex flex-wrap gap-0">
                            <h3 class="w-100 text-start ps-2 mb-4">Pulseras</h3>
                            <div class="row mb-5 w-100">
                                <div class="card-group">
                                    <div class="card">
                                        <img src="../imagenes/pulsera1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Pulsera Gothic Cross</h5>
                                            <p class="card-text small">
                                                Pulsera eslabonada con dijes de cruces metálicas.
                                                Una pieza con estética industrial-grunge perfecta para complementar un look oscuro y definido.
                                            </p>
                                            <p class="fw-bold text-center text-success">$150.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:BRC-GTH-CRS01</li>
                                                                            <li>Aleación de zinc reforzada</li>
                                                                            <li>Cierre tipo mosquetón</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 fw-bold text-center small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/pulsera2.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Pulsera Star Link</h5>
                                            <p class="card-text small">
                                                Pulsera de cadena gruesa con dijes de estrellas entrelazadas.
                                                Un diseño con influencia Y2K ideal para un estilo urbano y llamativo.
                                            </p>
                                            <p class="fw-bold text-center text-success">$165.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:BRC-STR-LNK02</li>
                                                                            <li>Acero inoxidable pulido</li>
                                                                            <li>Broche de seguridad reforzado</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 fw-bold text-center small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/pulsera3.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Pulsera Dual Geometric</h5>
                                            <p class="card-text small">
                                                Pulsera de doble cadena fina con un dije central geométrico detallado.
                                                Un accesorio elegante con toques minimalistas para un uso diario.
                                            </p>
                                            <p class="fw-bold text-center text-success">$140.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:BRC-DUA-GEO03</li>
                                                                            <li>Acero con baño de plata</li>
                                                                            <li>Cadena ajustable de 18cm</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 fw-bold text-center small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/pulsera4.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Pulsera Cross Chain</h5>
                                            <p class="card-text small">
                                                Pulsera de eslabones finos con cruces pequeñas distribuidas uniformemente.
                                                Un diseño sutil y refinado con una clara estética gótica.
                                            </p>
                                            <p class="fw-bold text-center text-success">$130.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:BRC-CRS-CHN04</li>
                                                                            <li>Material: Metal de aleación</li>
                                                                            <li>Cierre ajustable de 16-20cm</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 fw-bold text-center small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5 w-100">
                                <div class="card-group">
                                    <div class="card">
                                        <img src="../imagenes/pulsera5.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Pulsera Pearl Star</h5>
                                            <p class="card-text small">
                                                Diseño único que combina perlas blancas con estrellas metálicas recortadas.
                                                El balance perfecto entre lo delicado y el estilo Y2K urbano.
                                            </p>
                                            <p class="fw-bold text-center text-success">$175.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:BRC-PRL-STR05</li>
                                                                            <li>Perlas sintéticas de alta resistencia</li>
                                                                            <li>Cierre ajustable</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 fw-bold text-center small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/pulsera6.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Pulsera Rose Grunge</h5>
                                            <p class="card-text small">
                                                Pulsera con serie de dijes en forma de rosas, inspirada en la estética romántica oscura.
                                                Un accesorio detallado que aporta un toque de elegancia industrial.
                                            </p>
                                            <p class="fw-bold text-center text-success">$185.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:BRC-ROS-GRG06</li>
                                                                            <li>Acabado envejecido</li>
                                                                            <li>Cierre ajustable de cadena</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 fw-bold text-center small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/pulsera7.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Pulsera Cross Heritage</h5>
                                            <p class="card-text small">
                                                Pulsera eslabonada con múltiples dijes de cruces de diseño detallado.
                                                Un clásico del estilo industrial-grunge para un look cargado de personalidad.
                                            </p>
                                            <p class="fw-bold text-center text-success">$160.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:BRC-CRS-HRT07</li>
                                                                            <li>Aleación metálica resistente</li>
                                                                            <li>Broche de alta seguridad</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 fw-bold text-center small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/pulsera8.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Pulsera Web & Spider</h5>
                                            <p class="card-text small">
                                                Pulsera doble con dijes temáticos de araña y telaraña. 
                                                Una pieza audaz inspirada en el Cyber Sigilism y la estética gótica moderna.
                                            </p>
                                            <p class="fw-bold text-center text-success">$190.00 MXN</p>
                                            <button class="btn btn-sm btn-outline-dark" 
                                                    data-bs-toggle="popover" 
                                                    data-bs-trigger="hover focus" 
                                                    data-bs-html="true" 
                                                    data-bs-title="Ficha Técnica" 
                                                    data-bs-content="<ul>
                                                                            <li>SKU:BRC-WEB-SPD08</li>
                                                                            <li>Acero inoxidable</li>
                                                                            <li>Diseño de doble cadena</li>
                                                                        </ul>">
                                                Detalles
                                            </button>
                                            <p class="mb-2 mt-2 fw-bold text-center small">Selecciona cantidad.</p>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-danger">-</button>
                                                <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                                <button type="button" class="btn btn-outline-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <footer class="cierre">
        <div class="row">
                <div class="col ps-5">
                        <img class="logo" src="../imagenes/logoblanco.png" alt="">
                    </div>
                    <div class="col centro pt-5">
                        <p>ALT F4 // EST. 2026</p>
                        <p>COPYRIGHT © 2026 - ALL RIGHTS RESERVED</p>
                    </div>
                </div>
            </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../java/funcionesJava.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            const tooltipList = [...tooltipTriggerList].map(el => new bootstrap.Tooltip(el));
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
            const popoverList = [...popoverTriggerList].map(el => new bootstrap.Popover(el));
        });
    </script>
</body>
</html>