<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/mystyls.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <title>Pantalones Cortos Mujer</title>
</head>
<body>
    <div class="barra">
        <img src="../imagenes/corona blanca.avif">
        <p class="pirata-one-regular titulo"><a href="../../index.html">ALT F4</a></p>
        <img src="../imagenes/corona blanca.avif">
    </div>
    <div class="reloj">
        <span id="datetime"></span>
    </div>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html">ALT F4</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mujer
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../views/mujeres.html">Mujeres</a></li>
                                <li><a class="dropdown-item" href="../views/playerasm.html">Playeras</a></li>
                                <li><a class="dropdown-item" href="../views/pantalonesm.html">Pantalones</a></li>
                                <li><a class="dropdown-item" href="../views/sudaderasm.html">Sudaderas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hombre
                            </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="../views/hombres.html">Hombres</a></li>
                                    <li><a class="dropdown-item" href="../views/playerash.html">Playeras</a></li>
                                    <li><a class="dropdown-item" href="../views/pantalonesh.html">Pantalones</a></li>
                                    <li><a class="dropdown-item" href="../views/sudaderas.html">Sudaderas</a></li>
                                </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Accesorios
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../views/accesorios.html">Accesorios</a></li>
                                <li><a class="dropdown-item" href="../views/lentes.html">Lentes</a></li>
                                <li><a class="dropdown-item" href="../views/gorras.html">Gorras</a></li>
                                <li><a class="dropdown-item" href="../views/pulseras.html">Pulseras</a></li>
                                <li><a class="dropdown-item" href="../views/relojes.html">Relojes</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center ms-auto">
                        <a href="https://maps.app.goo.gl/ebSHo2mcpoC4YeXq6">
                            <img class="imgnav1" src="../imagenes/ubi.png">
                        </a>
                        <a href="../views/iniciodesecion.html">
                            <img class="imgnav2" src="../imagenes/cuen.png">
                        </a>
                        <a href="#">
                            <img class="imgnav3" src="../imagenes/bolsa.png">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <a href="../views/sudaderasm.html"><button class="btn btn-secondary botonarriba">&#9650;</button></a>
    <div class="card text-bg-dark d-flex justify-content-center align-items-center">
        <img src="../imagenes/cardssudamg.jpg" class="card-img imghomin">
        <div class="card-img-overlay d-flex flex-column justify-content-end mb-5 ms-5 cardinhom">
            <div class="text-bg-dark ps-3">
                <h3 class="card-title">Renueva tu look con las mejores prendas.</h3>
                <p class="card-text">Prendas par hombre al mejor ptecio y calidad.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col">
                <img class="imgplayerasm" src="../imagenes/imgprinsudam.jpg" alt="">
            </div>
            <div class="col-auto">
                <h2 class="hofertas centro pt-5">SUDADERAS</h2>
            </div>
            <div class="col">
                <img class="imgplayerasm" src="../imagenes/imgprinsudam.jpg" alt="">
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4 anchoropa1">
                    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link text-dark bg-light border-bottom" href="#item-1m">Mujeres</a>
                        <nav class="nav nav-pills flex-column">
                        <a class="nav-link text-dark ms-3 my-1" href="#item-1-1m">Playeras</a>
                        <a class="nav-link text-dark ms-3 my-1" href="#item-1-2m">Playeras con Manga</a>
                        </nav>
                        <nav class="nav nav-pills flex-column">
                        <a class="nav-link text-dark ms-3 my-1" href="#item-2m">Pantalones</a>
                        <a class="nav-link text-dark ms-3 my-1" href="#item-2-1m">Pantalones</a>
                        <a class="nav-link text-dark ms-3 my-1" href="#item-2-2m">Pantalones Cortos</a>
                        <a class="nav-link text-dark ms-3 my-1" href="#item-2-3m">Pants</a>
                        </nav>
                        <nav class="nav nav-pills flex-column">
                        <a class="nav-link text-dark ms-3 my-1" href="#item-3-1m">Sudaderas</a>
                        <a class="nav-link text-dark ms-3 my-1" href="#item-3-2m">Tenis</a>
                        </nav>
                    </nav>
                    </nav>
                </div id="item-1-1m" class="d-flex flex-wrap gap-0">
                <div class="col-8 anchoropa2">
                    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                        <div id="item-3-1m" class="d-flex flex-wrap gap-0">
                            <h3>Sudaderas</h3>
                            <div class="row mb-5">
                                <div class="card-group">
                                    <div class="card">
                                        <img src="../imagenes/sudagm1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title">Magenta Wink Crop Hoodie</h5>
                                        
                                        <p class="card-text small">Sudadera corta (crop) en un vibrante tono rosa magenta, con capucha y un llamativo estampado frontal de una mirada femenina con pestañas largas y flores.</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                            <li>SKU:CRU-SUD-MW1</li>
                                                            <li>70% Algodón, 30% Poliéster</li>
                                                            <li>Lavar del revés en frío</li>
                                                        </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm1" id="chpm-1" checked>
                                            <label class="btn btn-outline-dark" for="chpm-1">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm1" id="mpm-1">
                                            <label class="btn btn-outline-dark" for="mpm-1">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm1" id="gpm-1">
                                            <label class="btn btn-outline-dark" for="gpm-1">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/sudagm2.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title mt-3">Retro Varsity Grey Hoodie</h5>
                                        <p class="card-text small">Sudadera clásica oversize color gris melange con capucha, bolsillo estilo canguro y un pequeño número "7" en el pecho.</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                            <li>SKU:CRU-SUD-RV7</li>
                                                            <li>80% Algodón, 20% Poliéster</li>
                                                            <li>Lavar con colores similares</li>
                                                        </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm2" id="chpm-2" checked>
                                            <label class="btn btn-outline-dark" for="chpm-2">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm2" id="mpm-2">
                                            <label class="btn btn-outline-dark" for="mpm-2">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm2" id="gmp-2">
                                            <label class="btn btn-outline-dark" for="gmp-2">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/sudagm3.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title">Sweet Coffee Break Hoodie:</h5>
                                        <p class="card-text small">Sudadera holgada color negro con capucha que presenta un tierno estampado frontal de cuatro vasos de frappé y postres decorados.</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                <li>SKU:CRU-SUD-SCB</li>
                                                <li>75% Algodón, 25% Poliéster</li>
                                                <li>Lavar del revés en frío</li>
                                            </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm3" id="chpm-3" checked>
                                            <label class="btn btn-outline-dark" for="chpm-3">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm3" id="mpm-3">
                                            <label class="btn btn-outline-dark" for="mpm-3">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm3" id="gmp-3">
                                            <label class="btn btn-outline-dark" for="gmp-3">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/sudagm4.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title">LA Pink hoodie</h5>
                                        <p class="card-text small">Hoddie con capucha oversize color rosa claro con estanpado de "Los Angeles" y "1991" en el pecho. Estlilo minimalista urbano.</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                                <li>SKU: CRU-SOC-LC11</li>
                                                                <li>80% Poliéster, 20% Elastanon</li>
                                                                <li>Lavar a mano</li>
                                                            </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm4" id="chpm-4" checked>
                                            <label class="btn btn-outline-dark" for="chpm-4">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm4" id="mpm-4">
                                            <label class="btn btn-outline-dark" for="mpm-4">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm4" id="gmp-4">
                                            <label class="btn btn-outline-dark" for="gmp-4">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="card-group">
                                    <div class="card">
                                        <img src="../imagenes/sudagm5.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title">Argent Baroque</h5>
                                        <p class="card-text small">Top negro entallado con complejo estampado barroco plateado y efecto de salpicaduras.</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                                <li>SKU: CRU-ARG-BT1</li>
                                                                <li>90% Poliéster, 10% Elastano</li>
                                                                <li>Lavar al reves</li>
                                                            </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm5" id="chpm-5" checked>
                                            <label class="btn btn-outline-dark" for="chpm-5">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm5" id="mpm-5">
                                            <label class="btn btn-outline-dark" for="mpm-5">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm5" id="gmp-5">
                                            <label class="btn btn-outline-dark" for="gmp-5">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/sudagm6.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title">Sade Portrait</h5>
                                        <p class="card-text small">Playera gris oscuro acid wash con estampado fotorrealista de la cantante Sade y texto en rojo.</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                                <li>SKU: CRU-SAD-PT1</li>
                                                                <li>90% Poliéster, 10% Elastano</li>
                                                                <li>Lavar al reves</li>
                                                            </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm6" id="chpm-6" checked>
                                            <label class="btn btn-outline-dark" for="chpm-6">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm6" id="mpm-6">
                                            <label class="btn btn-outline-dark" for="mpm-6">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm6" id="gmp-6">
                                            <label class="btn btn-outline-dark" for="gmp-6">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/sudagm7.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title">Cosmic Cat</h5>
                                        <p class="card-text small">Playera gris oscuro acid wash con gráfico de gato rodeado de motivos cósmicos.</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                                <li>SKU: CRU-COS-CT1</li>
                                                                <li>100% Algodón</li>
                                                                <li>Lavar al reves</li>
                                                            </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm7" id="chpm-7" checked>
                                            <label class="btn btn-outline-dark" for="chpm-7">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm7" id="mpm-7">
                                            <label class="btn btn-outline-dark" for="mpm-7">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm7" id="gmp-7">
                                            <label class="btn btn-outline-dark" for="gmp-7">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/sudagm8.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title">Sheer Tie</h5>
                                        <p class="card-text small">Top negro con paneles de malla, mangas abullonadas, lazo frontal y bordes ondulados.x</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                                <li>CRU-SHE-TF11</li>
                                                                <li>100% Algodón</li>
                                                                <li>Secar al aire</li>
                                                            </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm8" id="chpm-8" checked>
                                            <label class="btn btn-outline-dark" for="chpm-8">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm8" id="mpm-8">
                                            <label class="btn btn-outline-dark" for="mpm-8">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm8" id="gmp-8">
                                            <label class="btn btn-outline-dark" for="gmp-8">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="card-group">
                                    <div class="card">
                                        <img src="../imagenes/sudagm9.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title">Strawberry Bow</h5>
                                        <p class="card-text small">Top corto negro con diseño gráfico central de fresas atadas con un lazo rosa, enmarcado en un recuadro punteado.</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                                <li>SKU: 95% Algodón, 5% Elastano</li>
                                                                <li>95% Algodón, 5% Elastano</li>
                                                                <li>Lavar con colores claros</li>
                                                            </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm9" id="chpm-9" checked>
                                            <label class="btn btn-outline-dark" for="chpm-9">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm9" id="mpm-9">
                                            <label class="btn btn-outline-dark" for="mpm-9">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm9" id="gmp-9">
                                            <label class="btn btn-outline-dark" for="gmp-9">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/sudagm10.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title">Film Collage</h5>
                                        <p class="card-text small">Playera gris carbón con diseño minimalista de estrella dentro de una órbita elíptica.</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                                <li>SKU: CRU-FIL-CG1</li>
                                                                <li>100% Algodón</li>
                                                                <li>Lavar al reves</li>
                                                            </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm10" id="chpm-10" checked>
                                            <label class="btn btn-outline-dark" for="chpm-10">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm10" id="mpm-10">
                                            <label class="btn btn-outline-dark" for="mpm-10">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm10" id="gmp-10">
                                            <label class="btn btn-outline-dark" for="gmp-10">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/sudagm11.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title">Gothic Flourish</h5>
                                        <p class="card-text small">Playera negra de corte entallado con estampado frontal de ornamentos góticos detallados y encaje en gris.</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                                <li>SKU:CRU-FIL-CG1</li>
                                                                <li>100% Algodón</li>
                                                                <li>Lavar del revés en frío</li>
                                                            </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm11" id="chpm-11" checked>
                                            <label class="btn btn-outline-dark" for="chpm-11">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm11" id="mpm-11">
                                            <label class="btn btn-outline-dark" for="mpm-11">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm11" id="gmp-11">
                                            <label class="btn btn-outline-dark" for="gmp-11">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/sudagm12.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title">MCR Raglan</h5>
                                        <p class="card-text small">Playera estilo béisbol (manga ranglán) blanca con mangas negras y logo de My Chemical Romance en el frente.</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                                <li>Sku: CRU-GOT-FL1</li>
                                                                <li>90% Poliéster, 10% Elastano</li>
                                                                <li>Lavar a mano</li>
                                                            </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm12" id="chpm-12" checked>
                                            <label class="btn btn-outline-dark" for="chpm-12">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm12" id="mpm-12">
                                            <label class="btn btn-outline-dark" for="mpm-12">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm12" id="gmp-12">
                                            <label class="btn btn-outline-dark" for="gmp-12">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="card-group">
                                    <div class="card">
                                        <img src="../imagenes/sudagm13.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title">Star Orbit</h5>
                                        <p class="card-text small">Playera gris carbón con diseño minimalista de estrella dentro de una órbita elíptica.</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                                <li>SKU: CRU-STA-OR1</li>
                                                                <li>90% Poliéster, 10% Elastano</li>
                                                                <li>Lavar con colores similares</li>
                                                            </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm13" id="chpm-13" checked>
                                            <label class="btn btn-outline-dark" for="chpm-13">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm13" id="mpm-13">
                                            <label class="btn btn-outline-dark" for="mpm-13">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm13" id="gmp-13">
                                            <label class="btn btn-outline-dark" for="gmp-13">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/sudagm14.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title">Arachnid Web</h5>
                                        <p class="card-text small">Top corto negro que presenta un estampado detallado de una araña blanca sobre una red intrincada.</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                                <li>SKU: CRU-ARA-WB1</li>
                                                                <li>95% Algodón, 5% Elastano</li>
                                                                <li>No usar secadora</li>
                                                            </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm14" id="chpm-14" checked>
                                            <label class="btn btn-outline-dark" for="chpm-14">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm14" id="mpm-14">
                                            <label class="btn btn-outline-dark" for="mpm-14">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm14" id="gmp-14">
                                            <label class="btn btn-outline-dark" for="gmp-14">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/sudagm15.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title">Mineral Crop</h5>
                                        <p class="card-text small">Top corto en tono gris lavado a piedra (acid wash), con corte cuadrado y diseño minimalista.</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                                <li>SKU: CRU-MIN-CP1</li>
                                                                <li>100% Algodón</li>
                                                                <li>Secar a la sombra</li>
                                                            </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm15" id="chpm-15" checked>
                                            <label class="btn btn-outline-dark" for="chpm-15">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm15" id="mpm-15">
                                            <label class="btn btn-outline-dark" for="mpm-15">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm15" id="gmp-15">
                                            <label class="btn btn-outline-dark" for="gmp-15">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="../imagenes/sudagm16.jpg" class="card-img-top" alt="...">
                                        <div class="card-body d-flex flex-column m-auto">
                                        <h5 class="card-title">Speedway 97</h5>
                                        <p class="card-text small">layera gris oversize con gráfico automotriz estilo retro y texto "Los Angeles".</p>
                                        <button type="button" class="btn btn-sm btn-outline-dark mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html="true"  data-bs-title="Ficha Técnica" 
                                            data-bs-content="<ul>
                                                                <li>SKU: CRU-SPE-971</li>
                                                                <li>100% Algodón</li>
                                                                <li>Secar al aire</li>
                                                            </ul>">
                                            Detalles
                                        </button>
                                        <p>Selecciona talla.</p>
                                        <div class="btn-group mb-3" role="group">
                                            <input type="radio" class="btn-check" name="tallas-pm16" id="chpm-16" checked>
                                            <label class="btn btn-outline-dark" for="chpm-16">CH</label>
                                            <input type="radio" class="btn-check" name="tallas-pm16" id="mpm-16">
                                            <label class="btn btn-outline-dark" for="mpm-16">M</label>
                                            <input type="radio" class="btn-check" name="tallas-pm16" id="gmp-16">
                                            <label class="btn btn-outline-dark" for="gmp-16">G</label>
                                        </div>
                                        <p>Selecciona cantidad.</p>
                                        <div class="btn-group mt-auto" role="group">
                                            <button type="button" class="btn btn-outline-success">+</button>
                                            <button type="button" class="btn btn-outline-dark btn-static-hover">1</button>
                                            <button type="button" class="btn btn-outline-danger">-</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-toolbar mt-3 mb-3 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
            <a href="../views/sudaderasm.html" class="btn btn-outline-secondary">1</a>
            <a href="../views/sudaderasm2.html" class="btn btn-outline-secondary">2</a>
            </div>
    </div>
    <footer class="cierre">
        <div class="container-fluid">
            <div class="row">
                <div class="col ps-5">
                    <img class="logo" src="../imagenes/logoblanco.png" alt="">
                </div>
                <div class="col centro pt-5">
                    <p>ALT F4 // EST. 2026</p>
                    <p>COPYRIGHT © 2026 - ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../java/funcionesJava.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            const tooltipList = [...tooltipTriggerList].map(el => new bootstrap.Tooltip(el));
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));});
    </script>
</body>
</html>